* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: 'Helvetica', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  padding: 10px 0;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
}

.grid-starship-links {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  grid-auto-rows: 200px;
}

.starship-link {
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}

h2,
.starship p,
.starship a {
  font-size: 28px;
  font-weight: normal;
}

.starship p {
  padding-bottom: 20px;
}

.starship a {
  text-decoration: underline;
}

.starship {
  width: 50%;
  min-width: 400px;
  padding: 30px;
  margin: 50px auto;
  border-radius: 8px;
  background-color: black;
}

.status-msg {
  padding: 50px;
  color: black;
  text-align: center;
}
